[submodule "external/UnifyFS"]
	path = external/UnifyFS
	url = git@github.com:hariharan-devarajan/UnifyFS.git
	branch = hari/node_local_extents
[submodule "external/brahma"]
	path = external/brahma
	url = git@github.com:hariharan-devarajan/brahma.git
	branch = dev
[submodule "external/mimir"]
	path = external/mimir
	url = git@github.com:hariharan-devarajan/mimir.git
	branch = dev
[submodule "external/cpp-logger"]
	path = external/cpp-logger
	url = git@github.com:hariharan-devarajan/cpp-logger.git
	branch = dev
